.chat_window{
	height: 100%;
}
.messages{
    max-height: 100%;
	height: calc(100vh - 150px);
}

.messages .message.left .text {
    color: black !important;
    font-weight: inherit;
}

#msg_input{
    color: black;
}
