.chat_window{
	height: 100%;
    position: absolute;
    top: 0;
}
.messages{
    position: relative;
    /* bottom: 0; */
    height: 85%
}

.messages .message.left .text {
    color: black !important;
    font-weight: inherit;
}

#msg_input{
    color: black;
}
